* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(180deg, #e05d5d, #f55872);
    min-height: 100vh;
}

header {
    color: white;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    min-height: 150px;
    background-color: white;
    width: 600px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
}

.card ul .empty-text {
    text-align: center;
    color: rgb(104, 104, 104);
    padding-top: 20px;
}

form {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    min-height: 60px;
    padding: 0px 0px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form button {
    background-color: white;
    border: none;
    width: 50px;
    font-size: 1.5rem;
    color: #e05d5d;
    cursor: pointer;
}

form button:hover {
    color: #d17878;
}

form button:focus {
    color: #e05d5d;
}

form input {
    border: none;
    font-size: 1.2rem;
}

form input:focus {
   outline: none;
}

.card form {
    text-align: center;
}

i {
    pointer-events: none;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d17878;
    padding-bottom: 10px;
    margin-top: 15px;
}

.todo-item {
    flex: 1;
}

.complete-btn {
    background-color: rgb(83, 167, 83);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.1s ease;
    margin-right: 4px;
}

.complete-btn:hover {
    background-color: rgb(100, 185, 100);
}

.trash-btn {
    background-color: rgb(214, 93, 93);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.1s ease;
}

.trash-btn:hover {
    background-color: rgb(230, 111, 111);
}

li {
    text-decoration: none;
    list-style: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 600px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    appearance: none;
    border: none;
}

.filter-todo {
    background-color: white;
    min-height: 60px;
    border-radius: 10px;
    padding: 20px;
    width: 185px;
    font-size: 0.8rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
}

.filter-todo:focus {
    outline: none;
}

.select {
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    color: #e05d5d;
    transition: all 0.1s ease;
}

.select:hover:after {
    color: #c78080;
}

@media (max-width: 800px) {
    .card {
        width: 90%;
    }

    .top {
        width: 90%;
    }

    form {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        flex: 70%;
        margin-right: 10px;
        min-height: 60px;
        padding-left: 20px;
        justify-content: space-around;
        align-items: center;
        display: flex;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .filter-todo {
        background-color: white;
        min-height: 60px;
        border-radius: 10px;
        padding: 20px;
        width: 100%;
        flex: 40%;
        font-size: 0.8rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: none;
        cursor: pointer;
        transition: all 0.1s ease;
    }

    form input {
        border: none;
        font-size: 1rem;
    }
}

.clear-all {
    outline: none;
    border: none;
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: rgb(104, 104, 104);
    transition: all 0.1s ease;
}

.clear-all:hover {
    color: #e05d5d;;
}

.clear-all:disabled {
    opacity: 0.6;
}

.clear-all:disabled:hover {
    color: rgb(104, 104, 104);
}


